.orcamento-online{
	h4{
		font-family: 'Russo One', sans-serif;
		text-transform: uppercase;
		color: #43617e;
		span{
			color: #0487ae;
		}
	}
	.font13{
		font-size: 13px;
	}
	input.button{
		margin-top: 23px;
	}

}

.oc{
	border: solid 1px #dddddd;
	padding: 1.25rem;
	margin: 1.125rem 0;
}