@import "compass";
@import url(http://fonts.googleapis.com/css?family=Russo+One);
.section-topo{
	position: fixed;
	top: 0;
	z-index: 10;
	height: 90px;
	width: 100%;
	border-bottom: 5pt #fff solid;
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #0487ae; // Old browsers
	@include filter-gradient(#0487ae, #3f84bc, horizontal); // IE6-8
	// IE9 SVG, needs conditional override of 'filter' to 'none'
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(left, #0487ae 0%,#3f84bc 100%));
	.logo{
		background-image: image-url("logo-b.png");
		width: 288px;
		height: 164px;
		margin: 0 auto;
		margin-bottom: -123px;
		margin-left: -75px;
	}
}
.nav-top{
	margin-top: 17px;
	ul{
		list-style: none;
		li:first-child{
			a{
				margin-left: -15px
			}
		}
		li{
			display: inline;
			a{
				text-rendering: optimizeLegibility;
				font-family: "Lanenar";
				font-size: 21px;
				padding: 5px;
				color: #fff;

			}
		}
		li.active{
			a{
				background: #43617e;;
				border-radius: 5px;
			
			}
		}
	}
}
.section-head{
	background-color: #43617e;
	min-height: 200px;
	height: 200px;
	h1{
		text-rendering: optimizeLegibility;
		font-family: 'Russo One', sans-serif;
		font-size: 35pt;
		color: #fff;
		margin-bottom: 10px;
		margin-top: 0px;
		text-transform: uppercase;
		font-weight: bold;
	}
	h1#countdown{
		font-size: 20pt;
		text-transform: none;
	}
	p{
		font-size: 16pt;
		line-height: 3px;
	}
	.s1{
		margin-top: 10px;
	}
	.sp{
		margin-top: 7px;
		margin-left: 10%;
		
		h1{
		text-align: center;
		font-size: 21pt;
		} 
		p{
			font-size: 16pt;
			text-align: center;
			line-height: 7px;
		}
	}	
	.sub-header{
		background-image: image-url('header.png');
		background-size: 100%;
		background-repeat: no-repeat;
		height: 114px;
		margin-top: -12px;

	}
	p{
		text-rendering: optimizeLegibility;
		font-family: "Lanenar";
		color: #fff;
		font-size: 21pt;
		line-height: 13px;

	}
}
.inicial {
	background-color: #fff;
}
.section{
	  min-height: 650px;

}
.home{
	padding-top: 90px;
}