<div class="row">
<div class="small-12 columns">	
	<div class="tt">
		<h4><i class="fa fa-cogs"></i> Gerenciar Atendimentos</h4>
	</div>
</div>

<div class="small-12 columns">	
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Nome Completo</th>
			<th>Origem</th>
			<th>Destino</th>
			<th>Pessoas</th>
			<th>Data Ida</th>
			<th>Data Volta</th>
		</tr>
	</thead>
	<tbody>
		<% @atendimento.each do |atendimento|%>
		<tr>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
<div class="small-12 columns">	
</div>
</div>