.large-5.columns
  %form
    %fieldset
      %legend Orçamento Online
      .row
        .large-12.columns
          %label
            Nome Completo:
          %input{placeholder: "Nome Completo", type: "text"}/