<div class="section-topo" data-magellan-expedition="fixed">
  <div class="row">
    <div class="large-5 medium-5 small-5 columns">
      <div class="nav-top">
        <ul id="top-menu">
          <li data-menuanchor="home">
            <a href="#home">Inicio</a>
          </li>
          <li data-menuanchor="servicos">
            <a href="#servicos">Serviços</a>
          </li>
          <li data-menuanchor="sobre-nos" >
            <a href="#sobre-nos" >Sobre-nós</a>
          </li>
          <li data-menuanchor="blog">
            <a href="#blog">Blog</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="large-3 medium-3 small-3 columns acima-logo">
      <div class="logo">
      </div>
    </div>
    <div class="large-4 medium-4 small-4 columns">
      <div class="nav-top">
        <ul class="menu">
          <li data-menuanchor="guias">
            <a href="#guias">Guias</a>
          </li>
          <li>
            <a href="#">Hoteis</a>
          </li>
          <li>
            <a href="#">Promoções</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>