<%= render :partial => "topo" %>
<div class="section home" id="home" data-menuanchor="home">
	
	<div class="section-head">
	  <div class="row">
	    <div class="large-5 columns" data-scroll-reveal="enter left and move 50px over 1.33s">
	    <div class="s1">
	     <%= data_restante.html_safe %>
	      <p>
	        É a única coisa  que
	      </p>
	      <p>
	        Você compra e te faz mais Rico
	      </p>
	      </div>
	    </div>
	    <div class="large-5 large-offset-2 columns" data-scroll-reveal="enter right and move 50px over 1.33s">
	    	<div class="sp">
		    	<h1>Atendimento</h1>
		    	<p>atendimento@proximoembarque.com.br</p>
		    	<p>(62) 3087-0404 | 88*6010-Rádio</p>
	    	</div>
	    </div>
	  </div>
	  <div class="sub-header">
	  </div>
	</div>
	<div class="inicial">
		<div class="row">
			<div class="large-6 columns">
				<h1>Teste</h1>
				  {{ formData }}
			</div>
  			<div class="large-6 columns oc" data-scroll-reveal="enter right after 0.5s">
				<%= render :partial => "form" %>
			</div>
		</div>
	</div>
</div>
<div class="section home-bg" id="servicos" data-menuanchor="servicos"></div>
<div class="section" id="sobre-nos" data-menuanchor="sobre">
	<div class='sp'>
		<div class="row">
			<div class="large-5 columns">
				   <div data-scroll-reveal="enter top over 0.5s and move 200px"> Teste </div>
			</div>
		</div>
	</div>
</div>
<div class="section" id="blog"></div>
<div class="section" id="guias"></div>