<div class="section active home-bg">
  <div class="topo">
    <div class="logo"></div>
    <div class="centro">
    	<h1>A sua viagem começa aqui</h1>
    	<p> Nós estamos aqui para ajudar você a realizar seus sonhos</p>
	</div>
  </div>

</div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>