<div class="row">
	<div class="lager-12 columns">
		<h3>
			<b>
				<i class="fa fa-pencil-square-o"></i>
				<%= @orcamento.titulo %> #<%= @orcamento.id %>
			</b>
		</h3>
	</div>
</div>
<%= render :partial => 'form' %>

