<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Sistema de Orçamento 1.0</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">

    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#"><i class="fa fa-user"></i> Olá Blenno Cleofas</a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="active"><a href="#">Home</a></li>
     
      <li class="has-dropdown">
        <a href="#">Orçamento</a>
        <ul class="dropdown">
          <li><a href="#">Novo</a></li>
          <li><a href="#">Lista</a></li>
        </ul>
      </li>

      <li class="has-dropdown">
        <a href="#">Atendimento</a>
        <ul class="dropdown">
          <li><a href="#">Online</a></li>
          <li><a href="#">Telefone</a></li>
        </ul>
      </li>

      <li class="has-dropdown">
        <a href="#">Gerenciar</a>
        <ul class="dropdown">
          <li><a href="#">Cias</a></li>
        </ul>
      </li>
    </ul>


  </section>
</nav>