
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>Proximo Embarque - Sua Proxima Viagem Começa aqui</title>
  <meta name="author" content="Alvaro Trigo Lopez" />
  <meta name="description" content="fullPage plugin by Alvaro Trigo. Create fullscreen pages fast and simple. One page scroll like iPhone website." />
  <meta name="keywords"  content="fullpage,jquery,alvaro,trigo,plugin,fullscren,screen,full,iphone5,apple" />
  <meta name="Resource-type" content="Document" />

  
  <%= stylesheet_link_tag "mkt" %>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic" rel="stylesheet" type="text/css">

  <!--[if IE]>
    <script type="text/javascript">
       var console = { log: function() {} };
    </script>
  <![endif]-->

  


</head>
<body>

<%= yield %>
<%= javascript_include_tag "mkt" %>
<%= javascript_include_tag "scrollReveal.min" %>
<script type="text/javascript">


  $(document).ready(function() {
    setInterval(function () {
      datas($('#countdown').data().time,document.getElementById("countdown"));
    }, 1000);
  });
  
</script>
<script>
   
    window.scrollReveal = new scrollReveal({reset: true});

    $( document ).ready(function() {
        $('.animado').show();
    });
    
</script>
</body>
</html>